<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/create" tab="create">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Registrar Frutas</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/list-fruits" tab="list-fruits">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Lista de Frutas</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/delete" tab="delete">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Eliminar Frutas</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>