<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/create" tab="create">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Registrar Motos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/my-bikes" tab="my-bikes">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Lista de Motos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/delete" tab="delete">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Eliminar Motos</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>